logging:
  json_format: false
  level: trace

prometheus:
  enabled: true
  port: 2112

api:
  enabled: true
  port: 8080
  healthcheck_fail_file: ./unhealthy

api_keys:
  - key: admin

workers:
  enabled: true
  count: 1
  data_directory: ./data/worker

blob_store:
  type: memory

data_sink:
  type: memory

queue:
  type: memory

cache:
  type: memory

database:
  type: static

  # type: sqlite
  # settings:
    # dsn: "local.db"
    # default_user: "your_email@example.com"

dashboard:
  enabled: true

destinations:
  - type: duckdb
    name: Local DuckDB file
    api_keys:
      - local
    settings:
      file: "./data/data.duckdb"
crypto:
  jwt_private_key: |
    -----BEGIN RSA PRIVATE KEY-----
    MIIEowIBAAKCAQEArClKqE/tZMm5IHSu9lY4TJ34WXgGb9+lj39p+Qoac3K+t2JH
    eTBeLAlDHzAuHkg1LI/tB5JG2phF3Lna9B1zqgVH1eCwfFT+SSBeNt7QuKrrVjhq
    YGIi7SPI1ZYeVOe6xnzTxO6e0vNsUcX517U7fJYfaXPCEpFxFqiH9HRIrxAhqsg7
    Vk/qZKUbtU1uuAMQq836vtuYm7Thpgu5NfZ9C1bmiFyqQq8fjB9b3PxWvKKRNVV/
    N2FCT/xLtLFVqJ/FM04N0N5gjhE9zRcpvg6pIJklDjs4XMnLYhTmRsA78m0alLZW
    W81hFrTr0T3i5gdQxFRxZizcHDBgXHc7FQD8nQIDAQABAoIBAA2IBU0rUw5L6JgL
    c8D6z9v9wopNq7vZSSr5KbwgNioCx8ikGdgFnDE73SGzaLyKkltZSJkCvzzpIPyT
    QwlS00d2uMmvqk9rYr0epSkM5DzPekXBk2LV88bNvDhFX0bvG7gEEaT12FfeOBJJ
    TDTPEsjdB8UDCyrocYoFXwIwrZHMwsZtQjJM6TN86bWv+5IEnm442C1gjwU8qkVc
    Il/SItayzzIv+r/uHkRmBX3/r67hE5OEfeJi09DL4YTzphWavPopiQNuNpYa132a
    u9nPFUtEenesJ8sNXqrfjoaWV/0U0paqDAYPm0pGqfU9dPk4jEL71tIOOKO5dJu5
    ZWXbtmECgYEAzX6qFD6g3NxGHLPR87xoq54+7AbnwcGfsDypbcKOwWJb3N0rTUGY
    iJTcPSgOX7QNg7TbxINw/XmYs4TQQRWQPezMW+BPFi/zmeqVD89jdAkh853LYBUc
    Gy7MTSGfJHjRUPgd3lMipQDc4uBCzDUGG9WWxFOEALN6pClvS691gnUCgYEA1nlZ
    NsUHZJXu6jOk3e8FE43q+yBItJ6PFGLabj4NfxXKFuOK+U/3ngwSXt4Fln1jFSBB
    M5O/dFGbsGYXsqeYXuy5f5ihesI8+IALDKK7Wr8DNWhazIpqjwn49eBaKtYoWlxn
    CKcgQW8OWCqcc3IovkZBiZfNJw3Bf08cWvuH/IkCgYAk58yv2heV0tGcsgbQ2VOL
    Dt6KEStqNtXxFtPu7HQq8vlAj1AJjfBRBzsOmLUMJxAOSVr2zgxq2X29L+se5TqE
    hJSnI3/QokgDqoee0UYxPrqkQACYfvIPR7ZVW+Zy7GfbPNRQa2nbbG4/KLuWZSd1
    tERhegZJAfLSrMZaN2bJSQKBgQCZe7XwkAe+X93eFJ9Dg62qVMF4fZ4KQ/44pJWU
    lyuparp4rtXhnOyjWhg7c7+j9o9VqwN+GZnFcDFuh2EmJPHR3K7TNTM6Wo6vd1Jw
    9HQHePKe4dM41UV0n7pemvNr/F5cbAwAETnwGb22MqhLpcKqiDSWduAFtr5mkQLF
    yYODoQKBgBK7pkDTfTVPGFTcOU721F9AG+7bBClxwOLyebnOX8HlNkvwMIIRzVoi
    89k9x6cMl9BigdjwRbLWD9Cqh5Vi/dhcjgnZp1NScgLa+dSKWpZ19i0FTttK5wOT
    xlWHbebiWY8EfyThM9lVbiPWIR6d+TxOsHTSzpqzOyeXj6rfmcBD
    -----END RSA PRIVATE KEY-----