{{ define "content" }}
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.58.2/lib/codemirror.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.58.2/lib/codemirror.css">
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.58.2/mode/sql/sql.js"></script>
    <div class="mt-4 bg-white rounded-md shadow p-4">
        <form method="POST" action="/dashboard/key/upsert" class="space-y-4">
            <div>
                <label class="block text-sm font-medium text-gray-700">Name</label>
                <input type="text" name="name" value="{{.Data.SavedQueryKey.Name}}" maxlength="16" placeholder="" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 sm:text-sm">
            </div>
            <div>
                <label class="block text-sm font-medium text-gray-700">Query</label>
                <select name="query_id" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 sm:text-sm">
                    {{range $.Data.Queries}}
                        <option value="{{.ID}}" {{if eq .ID $.Data.SavedQueryKey.SavedQueryID}}selected{{end}}>{{.Name}}</option>
                    {{end}}
                </select>
            </div>
            <div>
                <h3 class="text-lg font-semibold text-gray-700">Query</h3>
                <textarea id="query" name="params" class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 sm:text-sm">{{.Data.SavedQueryKey.QueryParams}}</textarea>
            </div>
            {{ .CSRFToken }}
            {{if ne .Data.SavedQueryKey.ID 0}}
                <input type="hidden" name="id" value="{{ .Data.SavedQueryKey.ID }}">
            {{end}}
            <button type="submit" class="w-fit rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Save
            </button>
        </form>
        {{if ne .Data.SavedQueryKey.ID 0}}
            <form action="/dashboard/key/delete" method="POST" class="mt-6 flex items-center gap-x-6 justify-end">
                <input type="hidden" name="id" value="{{ .Data.SavedQueryKey.ID }}">
                {{ .CSRFToken }}
                <button type="submit" class="rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Delete</button>
            </form>
        {{end}}
    </div>
    <script>
        window.onload = function() {
            var editor = CodeMirror.fromTextArea(document.getElementById("params"), {
                mode: "sql",
                lineNumbers: true,
                theme: "default"
            });
        };
    </script>
{{end}}
