{{- /*gotype: github.com/scratchdata/scratchdata/pkg/view.Model*/ -}}

{{ define "content"}}
<section class="bg-white dark:bg-gray-900">
    <div class="px-4 mx-auto max-w-screen-xl">
        {{ range .Flashes }}
            <div class="my-3">
                {{ template "flash" . }}
            </div>
        {{ end}}

        <div class="my-5">
            {{ if eq .UpsertConnection.Destination.Type "duckdb" }}
                <div class="mx-auto w-96">
                    {{ template "duckdb-form" . }}
                </div>
            {{ else }}
                <div class="space-y-4 sm:grid sm:grid-cols-2 lg:grid-cols-4 sm:gap-4 xl:gap-8 sm:space-y-0 md:mb-8 md:mt-12">
                    <a href="/dashboard/connections/new/duckdb" class="block py-12 px-8 text-center bg-gray-50 justify-center rounded dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-700">
                        <img src="/static/duckdb.png" class="mx-auto h-10 text-gray-600 dark:text-gray-400">
                        <p class="font-light text-gray-500 mt-3.5 mb-4">DuckDB</p>
                    </a>
                    {{/*            <a href="/dashboard/connections/new/clickhouse" class="block py-12 px-8 text-center bg-gray-50 justify-center rounded dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-700">*/}}
                    {{/*                <img src="/static/clickhouse.png" class="mx-auto h-10 text-gray-600 dark:text-gray-400">*/}}
                    {{/*                <p class="font-light text-gray-500 mt-3.5 mb-4">Clickhouse</p>*/}}
                    {{/*            </a>*/}}
                    {{/*            <a href="/dashboard/connections/new/bigquery" class="block py-12 px-8 text-center bg-gray-50 justify-center rounded dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-700">*/}}
                    {{/*                <img src="/static/bigquery.png" class="mx-auto h-10 text-gray-600 dark:text-gray-400">*/}}
                    {{/*                <p class="font-light text-gray-500 mt-3.5 mb-4">BigQuery</p>*/}}
                    {{/*            </a>*/}}
                    {{/*            <a href="/dashboard/connections/new/redshift" class="block py-12 px-8 text-center bg-gray-50 justify-center rounded dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-700">*/}}
                    {{/*                <img src="/static/redshift.png" class="mx-auto h-10 text-gray-600 dark:text-gray-400">*/}}
                    {{/*                <p class="font-light text-gray-500 mt-3.5 mb-4">Redshift</p>*/}}
                    {{/*            </a>*/}}
                    {{/*            <a href="/dashboard/connections/new/snowflake" class="block py-12 px-8 text-center bg-gray-50 justify-center rounded dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-700">*/}}
                    {{/*                <img src="/static/snowflake.png" class="mx-auto h-10 text-gray-600 dark:text-gray-400">*/}}
                    {{/*                <p class="font-light text-gray-500 mt-3.5 mb-4">Snowflake</p>*/}}
                    {{/*            </a>*/}}
                </div>
            {{end}}
        </div>
    </div>
</section>
{{end}}

{{define "duckdb-form"}}
{{ $isNew := eq .UpsertConnection.Destination.ID 0 }}
{{ $title := "" }}
{{if .UpsertConnection.RequestID}}
{{ $title = "New DuckDB Connection Request" }}
{{ else if $isNew }}
{{ $title = "New DuckDB Connection" }}
{{ else }}
{{ $title = "Edit DuckDB Connection" }}
{{end}}

{{- $isRequest := ne .UpsertConnection.RequestID "" -}}

{{- $action := "/dashboard/connections/upsert" -}}
{{- if $isRequest -}}
    {{- $action = "/dashboard/request/upsert" -}}
{{- end -}}

{{ if not $isNew }}
    <p>{{$title}}: {{ .UpsertConnection.Destination.Name }}</p>
    <div class="flex flex-col space-y-3">
        <form action="/dashboard/connections/delete" method="POST" class="mt-6 flex items-center gap-x-6">
            <input type="hidden" name="id" value="{{ .UpsertConnection.Destination.ID }}">
            {{ .CSRFToken }}
            <button type="submit" class="rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Delete</button>
        </form>

        <form action="/dashboard/connections/keys" method="POST" class="mt-6 flex items-center gap-x-6">
            {{ .CSRFToken }}
            <input type="hidden" name="id" value="{{ .UpsertConnection.Destination.ID }}">
            <button type="submit" class="w-fit rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                New API Key
            </button>
        </form>
    </div>
{{else}}
    {{ if not $isRequest }}
    <form method="POST" action="/dashboard/connections/request" class="flex flex-row justify-center">
        <input type="hidden" name="type" value="duckdb">
        {{ .CSRFToken }}
        <button type="submit" class="w-fit items-center rounded-md bg-neutral-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-neutral-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-neutral-600">
            Request a Connection
        </button>
    </form>
    <div class="relative my-5">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
            <span class="bg-white px-2 text-sm text-gray-500">Or</span>
        </div>
    </div>
    {{end}}
    <div class="flex flex-row justify-center">
        <p>{{$title}}</p>
    </div>
    <form method="POST" action="{{ $action }}" class="mx-auto max-w-2xl">
        <div class="mt-10 flex flex-col gap-x-6 gap-y-3">
            <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
            <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
                    <input type="text" value="{{ .UpsertConnection.Destination.Name }}" name="name" id="name" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                </div>
            </div>
        </div>
        <div class="mt-10 flex flex-col gap-x-6 gap-y-3">
            <label for="token" class="block text-sm font-medium leading-6 text-gray-900">Token</label>
            <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
                    <input type="password" value="{{ index .UpsertConnection.Destination.Settings "token" }}" name="token" id="token" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="token">
                </div>
            </div>
        </div>
        <div class="mt-10 flex flex-col gap-x-6 gap-y-3">
            <label for="database" class="block text-sm font-medium leading-6 text-gray-900">Database</label>
            <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                    <input type="text" value="{{ index .UpsertConnection.Destination.Settings "database" }}" name="database" id="database" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="database">
                </div>
            </div>
        </div>
        <input type="hidden" name="type" value="duckdb">

        {{ if .UpsertConnection.RequestID }}
            <input type="hidden" name="request_id" value="{{ .UpsertConnection.RequestID }}">
        {{end}}

        {{ if not $isNew }}
            <input type="hidden" name="id" value="{{ .UpsertConnection.Destination.ID }}">
        {{end}}

        {{ .CSRFToken }}

        <div class="mt-6 flex items-center justify-end gap-x-6">
            <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
        </div>
    </form>
{{end}}

{{end}}