[Unit]
Description=scratchdb

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/root/scratchdb -ingest -config prod.toml
KillSignal=SIGINT
WorkingDirectory=/root

; [Install]
; WantedBy=multi-user.target