[Unit]
Description=scratchworker

[Service]
Type=simple
RestartSec=1s
Restart=always
RuntimeMaxSec=5m
ExecStart=/root/scratchdb insert -config prod.toml
KillSignal=SIGINT
WorkingDirectory=/root
TimeoutSec=300

; [Install]
; WantedBy=multi-user.target