[Unit]
Description=scratchworker

[Service]
Type=simple
RestartSec=5s
Restart=always
RuntimeMaxSec=30s
ExecStart=/root/scratchdb insert -config prod.toml
KillSignal=SIGINT
WorkingDirectory=/root
TimeoutSec=300

; [Install]
; WantedBy=multi-user.target