{{ define "content" }}
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.58.2/lib/codemirror.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.58.2/lib/codemirror.css">
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.58.2/mode/sql/sql.js"></script>
<script src="/static/js/app.js"></script>
<body>
<div class="ui blue segment">
    <h3 class="ui header">Query</h3>
    <div class="ui very short scrolling segment">
        <textarea id="code" name="code">{{.Data.Query}}</textarea>
    </div>
    <div class="ui segment">
        <h4 class="ui header">
            Params
            <button class="circular ui icon button mini" id="addParam">
                <i class="icon plus"></i> New
            </button>
        </h4>
        <form class="ui form" id="paramsForm">
            {{range .Data.Params}}
                <div class="fields">
                    <div class="two wide field">
                        <label>Name</label>
                        <input type="text" name="paramName" value="{{.Name}}" maxlength="16" placeholder="@user_id">
                    </div>
                    <div class="two wide field">
                        <label>Type</label>
                        <select name="paramType">
                            {{range $.FieldTypes}}
                                <option value="{{.Value}}" {{if eq .Value $.SelectedType}}selected{{end}}>{{.Name}}</option>
                            {{end}}
                        </select>
                    </div>
                    <div class="two wide field">
                        <label>Example Value</label>
                        <input type="text" name="paramExample" value="{{.ExampleValue}}" placeholder="11235">
                    </div>
                    <div class="four wide field">
                        <label>Description</label>
                        <input type="text" name="paramDescription" value="{{.Description}}" placeholder="User id to look up">
                    </div>
                </div>
            {{end}}
        </form>
    </div>
    <button class="ui primary button" id="runQuery">Run</button>
</div>

{{if .Data.Results}}
    <div class="ui blue segment">
        <h3 class="ui header">Cost</h3>
        <div class="ui tiny statistic">
            <div class="value">{{.Slots}}</div>
            <div class="label">Slots</div>
        </div>
        <div class="ui tiny statistic">
            <div class="value">{{.Bytes}}</div>
            <div class="label">Bytes Billed</div>
        </div>
    </div>

    <div class="ui blue segment">
        <h3 class="ui header">Data</h3>
        <div class="ui short scrolling container">
            <table class="ui head stuck unstackable celled table">
                <thead>
                <tr>
                    {{range .Keys}}
                        <th>{{.}}</th>
                    {{end}}
                </tr>
                </thead>
                <tbody>
                {{range .Results}}
                    <tr>
                        {{range $index, $value := .}}
                            <td>{{$value}}</td>
                        {{end}}
                    </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
{{end}}

<script>
    window.onload = function() {
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            mode: "text/x-sql",
            lineNumbers: true
        });
        document.getElementById('addParam').onclick = function() {
            // JavaScript function to add parameter fields dynamically
        };
        document.getElementById('runQuery').onclick = function() {
            // JavaScript to handle query execution
        };
    };
</script>
{{end}}
