{{define "content"}}
<div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Ready to get your data moving?</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">Connect your data sources with <a href="/dashboard/connections">connections</a>.</p>
        <p class="mt-6 text-lg leading-8 text-gray-600">Want to save and query data in your application? Create a new <a href="/dashboard/keys">API key</a>.</p>
    </div>
</div>
{{end}}