{{- /*gotype: github.com/scratchdata/scratchdata/pkg/view.Model*/ -}}

{{define "content"}}
    <div class="sm:mx-auto sm:w-full sm:max-w-prose">
        <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">

            <div class="flex flex-col space-y-5">
                <div class="flex flex-col items-center space-y-5">
                    <div class="h-11 w-11 flex-shrink-0">
                        <img class="h-11 w-11 rounded-full" src="/static/scratchdata.png" alt="">
                    </div>
                    <p class="text-3xl text-center">{{ .ShareQuery.Name }}</p>
                    <p class="text-sm">Expires {{ .ShareQuery.Expires }}</p>
                </div>
                <div class="relative">
                    <div class="absolute inset-0 flex items-center" aria-hidden="true">
                        <div class="w-full border-t border-gray-200"></div>
                    </div>
                    <div class="relative flex justify-center text-sm font-medium leading-6">
                        <span class="bg-white px-6 text-gray-900">Download</span>
                    </div>
                </div>


                <div class="mt-6 grid grid-cols-2 gap-4">
                    <a href="/share/{{.ShareQuery.ID}}/download?format=csv" class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:ring-transparent">
                        <span class="text-sm font-semibold leading-6">CSV</span>
                    </a>
                    <a href="/share/{{.ShareQuery.ID}}/download?format=json" class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:ring-transparent">
                        <span class="text-sm font-semibold leading-6">JSON</span>
                    </a>
                    <!-- <a href="#" class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:ring-transparent">
                      <span class="text-sm font-semibold leading-6">Parquet</span>
                    </a>
                    <a href="#" class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:ring-transparent">
                      <span class="text-sm font-semibold leading-6">SQLite</span>
                    </a>
                    <a href="#" class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:ring-transparent">
                      <span class="text-sm font-semibold leading-6">DuckDB</span>
                    </a>
                    <a href="#" class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:ring-transparent">
                      <span class="text-sm font-semibold leading-6">Google Sheets</span>
                    </a> -->
                </div>
            </div>

        </div>

        <p class="mt-10 text-center text-sm text-gray-500">
            Powered by
            <a href="https://www.scratchdata.com" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Scratch Data</a>
        </p>
    </div>
{{end}}